h1 {
  font-weight: 500;
  font-stretch: extra-expanded;
  font-family: impact, fantasy;
  font-size: 80px;
  text-align: center;
  color: #5cc9fb;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
h2{
  font-weight: 300;
  font-stretch: extra-expanded;
  font-family: impact, fantasy;
  font-size: 40px;
  text-align: center;
  color: #1e5ddb;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
#bannerimage {
  background-image: url(https://www.notebookcheck.net/fileadmin/Notebooks/News/_nc3/playstations50.jpg);
  background-repeat: repeat-x;
  background-size: 20% 100%;


}
ul {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #aebfd4;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover:not(.active) {
  background-color: #2e393d;
}
.active {
  background-color: #5cc9fb;
}

.products {

}
.product {
  width: 20%;
  float: right;
    position: relative;
}

.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}